/* Sizes */
.size-sm {
    padding: 6px 10px;
}

.size-md {
    padding: 8px 12px;
}

.size-lg {
    padding: 13px 16px;
}

/* Rounded */
.rounded-sm {
    border-radius: 4px;
}

.rounded-md {
    border-radius: 6px;
}

.rounded-lg {
    border-radius: 8px;
}

.rounded-2xl {
    border-radius: 12px;
}

/* Width */
.w-full {
    width: 100%;
}

/* Gap */
.gap-4 {
    gap: 16px;
}

.gap-8 {
    gap: 32px;
}

.gap-12 {
    gap: 48px;
}


.auth-card-container {
    width: 100%;
    padding: 32px;

    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 0;
    background-image: url("src/assets/background-screen.png");
    background-size: cover;
    /* Fill screen */
    background-position: center;
    /* Center image */
    background-repeat: no-repeat;
    min-height: 100dvh
}

.auth-card {
    width: 100%;
    max-width: 400px;
    padding: 32px;

    background: var(--color-white);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    gap: 24px;
}


.title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text-primary);
}

.description {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    color: var(--color-grey-600);
    margin-top: 5px;
}

a {
    color: var(--color-blue);
    text-decoration: none;
    cursor: pointer;
}

.login-link {
    font-weight: var(--font-weight-medium);
    transition: color 0.2s ease;
}


/********* Component based styles from here *********/

/**** Input Component Start ****/

.input-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 300px;
}

.input-label {
    font-size: var(--font-size-base);
    font-weight: 500;
    margin-bottom: 6px;
}

.required {
    color: red;
    margin-left: 4px;
}

.input-field {
    padding: 12px 25px;
    font-size: var(--font-size-base);
    border-radius: 6px;
    border: 1px solid var(--color-grey-100);
    outline: none;
    transition: 0.2s;
    width: 100%;
    box-sizing: border-box;
}

.input-field:focus {
    border-color: #2563eb;
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.15);
}

.input-error {
    border-color: #dc2626;
}

.error-text {
    font-size: 12px;
    color: #dc2626;
    margin-top: 4px;
}

/* Responsive */
@media (max-width: 768px) {
    .input-field {
        padding: 8px 12px;
        font-size: 13px;
    }
}


/* Error */
.input-error {
    border-color: var(--color-text-error) !important;
}

.input-error::placeholder {
    color: var(--color-text-error) !important;
}

.label-error {
    color: var(--color-text-error);
}

.error-text {
    font-size: var(--font-size-sm);
    color: var(--color-text-error);
}

/* Disabled */
.input-disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* Password Toggle */
.toggle-password {
    background: none;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-lg);
    margin-left: 8px;
}

/* Input Field Checkbox */
.input-field-checkbox-container {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-grey-300);
    cursor: pointer;
}

/**** Input Component End ****/


/**** OTP Input Component start ****/

.otp-container {
    display: flex;
    justify-content: center;
    gap: 9px;
    /* margin: 10px 0; */
}

.otp-input {
    padding: 8px 15px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: var(--font-size-lg);
    border: 1px solid var(--color-grey-300);
    border-radius: 8px;
    outline: none;
    transition: all 0.2s ease;
}

.otp-input:focus {
    border-color: var(--color-blue);
    box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.3);
}

/* Error */
.otp-error {
    border-color: var(--color-text-error) !important;
}

.error-text {
    font-size: var(--font-size-sm);
    color: var(--color-text-error);
    margin-top: 5px;
}


/**** OTP Input Component End ****/

/**** Dropdown Input Component Start ****/
.select-container {
    position: relative;
    font-family: sans-serif;
    min-width: fit-content;
}

.select-header {
    border: 1px solid #e2e8f0;
    background: white;
    padding: 10px 16px;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.arrow {
    margin-left: 10px;
    transition: 0.3s;
}

.arrow.rotate {
    transform: rotate(180deg);
}

.select-dropdown {
    position: absolute;
    width: 100%;
    background: white;
    border-radius: 6px;
    margin-top: 6px;
    overflow: hidden;
    z-index: 999;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.select-option {
    font-size: var(--font-size-base);
    padding: 12px 16px;
    cursor: pointer;
}

.select-option:hover {
    box-shadow:
        0 4px 20px rgba(0, 0, 0, 0.08),
        /* outer shadow */
        inset 0 2px 10px rgba(0, 0, 0, 0.05);
}

.select-option.active {
    background: #f4c400;
    /* Yellow like screenshot */
    font-weight: 600;
}

/* .input-container select {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.input-container select {
    appearance: none;
    padding-right: 24px;
    background-image: url("data:image/svg+xml,%3Csvg fill='black' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 12px;
} */


/**** Dropdown Component End ****/


/**** Register Component Start ****/
.auth-layout {
    margin: 20px;
    border-radius: 30px;
    padding: 20px;
    background-color: #EEF2FF;
}

.home-layout {
    margin: 20px;
    border: 1px solid var(--color-grey-100);
    border-radius: 15px;
    background-color: white;
    padding: 20px;
}

.home-layout h1 {
    text-align: center;
    font-size: var(--font-size-2xl);
    margin-top: 40px;
    margin-bottom: 40px;
}

.register-container {
    width: 100%;
    padding: 30px;
    margin: 0 auto;
}

.register-container h1 {
    margin: 50px 0px;
}

.register-container form label {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
}

.register-container form input,
.register-container form select,
.register-container form textarea {
    font-size: var(--font-size-base);
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.parent-input-container {
    display: flex;
    align-items: flex-end;
    gap: 40px;
}

.btn-container {
    margin: 0 auto;
}

.input-rounded-lg {
    border-radius: 20px;
}

.btn-lg {
    padding: 12px 36px;
}

/**** Register Component End ****/


/**** Dashboard Component Start ****/
.button-outline {
    padding: 5px 10px;
    border: 1px solid #e5e7eb;
    border-radius: 7px;
    font-size: var(--font-size-sm);
    font-weight: var(--color-grey-600);
    color: var(--color-text-primary);
    background: #f9fafb
}

.button-outline:hover {
    background: #eef5fb;
}

.dashboard-title {
    font-size: 20px;
    font-weight: var(--font-weight-medium);
}

.dashboard-description {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-sm);
    color: var(--color-grey-600);
    margin-bottom: 25px;
}


/* Root layout */
.dashboard-layout {
    /* display: grid; */
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    grid-template-columns: 250px 1fr;
    grid-template-rows: 60px 1fr;
    height: 100vh;
    font-family: Arial, sans-serif;
}

/* Header */
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 70px;
    background: #ffffff;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

/* Search */
.header-left {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.search-input {
    height: 40px;
    width: 280px;
    padding: 0 12px;
    border: 1px solid #e2e8f0;
    border-radius: 8px 0 0 8px;
    outline: none;
    font-size: 14px;
}

.search-btn {
    height: 40px;
    padding: 0 16px;
    border: none;
    background: var(--color-blue);
    color: white;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.filter-container {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.filter-container h2 {
    flex: 1 1 200px;
    margin: 0;
}

/* Profile */
.profile-wrapper {
    position: relative;
}

.profile-trigger {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--color-blue);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.btn-create-account {
    background-color: #D8681D;
    border-radius: 10px;
    color: white;
    border: none;
}

.profile-name {
    font-weight: 500;
}

.arrow {
    font-size: 12px;
    color: #666;
}

/* Dropdown */
.profile-dropdown {
    position: absolute;
    right: 0;
    top: 55px;
    width: 320px;
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    animation: fadeIn 0.2s ease-in-out;
    z-index: 999;
}

.profile-row {
    font-size: 14px;
    font-weight: var(--font-weight-semibold);
    margin-bottom: 10px;
    color: var(--color-primary);
    display: flex;
    gap: 5px
}

.profile-row p:nth-child(2) {
    font-weight: var(--font-weight-medium);
    color: var(--color-grey-600);
}

.checkbox-wrapper .checkbox-label {
    margin-left: 15px;
    cursor: pointer;
}

.property-card {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    max-width: 650px;
    width: 100%;
    transition: transform 0.2s ease;
}

.property-card:hover {
    transform: translateY(-4px);
}

.card-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 16px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #222;
}

.rating {
    font-size: 14px;
    margin-bottom: 8px;
    color: #666;
}

.rating span {
    font-weight: 500;
    color: #222;
}

.details {
    font-size: 14px;
    color: #777;
    margin-bottom: 10px;
}

.type {
    font-size: 14px;
    color: #444;
}

/* Main Content */
.main {
    grid-area: main;
    background-color: #ffffff;
    padding: 1.5rem;
    overflow-y: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .dashboard-layout {
        grid-template-areas:
            "header"
            "main";
        grid-template-columns: 1fr;
        grid-template-rows: 60px 1fr;
    }

    .sidebar {
        display: none;
        /* hide sidebar on small screens */
    }
}

.dead {
    height: none;
}

/**** Dashboard Component End ****/



/* Mobile */
@media (max-width: 480px) {

    .form-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .parent-input-container {
        flex-wrap: wrap;
        gap: 20px;
    }

    .register-container {
        padding: 0px;
    }

    .register-container form input,
    .register-container form select,
    .register-container form textarea {
        font-size: var(--font-size-base);
    }

    .input-field {
        padding: 10px 14px;
    }

    .otp-input {
        width: 35px;
        height: 35px;
        font-size: var(--font-size-md);
    }

    .mobile-container input {
        width: 100%;
    }
}


/* Desktop Layout */
@media (min-width: 768px) {

    .auth-card {
        padding: 24px;
    }

    .property-card {
        flex-direction: row;
        height: 220px;
    }

    .card-image {
        flex: 1;
    }

    .card-image img {
        height: 100%;
    }

    .card-content {
        flex: 1.2;
    }
}

@media (max-width: 650px) {
    .header-left input {
        display: none;
    }

    .header-left button {
        border-radius: 50%;
        height: 45px;
        width: 48px
    }

    .parent-input-container {
        flex-wrap: wrap;
        gap: 20px;
    }
}